.dashboard_img{ 
    width: 200px;
    height: 150px;
}

.dashboard_caja-producto {
    height: 80px;
}

.dashboard-seccion-tablet-info{
    width: 70%;
    margin: auto;
}

/* .fa-address-book{
    padding: 1%;
    size: 10px;
    color: #ab222b;
} */

.icon_edit_dashboard{
    color: #ab222b;
    line-height: 3;
    padding: 4%;
}
.box_dashboard_option{
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
}
.tacho-dashboard{
    color: var(--color-rojo);
}


@media(min-width: 768px){
    .dashboard_img{ 
        width: 400px;
        height: 280px;
    }

    .dashboard_caja-producto {
         width: 74%; 
        margin: 10px auto;
        height: 71px;
    }

    .precio-producto_dashboard-box{
        width: 50%;
    }

    .box_dashboard_option{
        width: 40%;
    }
}


@media(min-width: 1024px){
    .dashboard_caja-producto{
        
            width: 58%;
            margin: auto;
            height: 71px;
        
    }
    .dashboard_img {
        margin-right: 62px;
        width: 30%;
        height: 30%;
    }
    .icon_edit_dashboard {
        color: #ab222b;
        line-height: 2;
        padding: 4%;
        font-size: 25px;
    }
    .tacho-dashboard{
        font-size: 25px;
    }
}