
.imagen-home:hover{
   transform: scale(0.98);
   transition: 1s;
}
.body-home{
    background-image: url('/images/background.jpg.png');

}

.home-main {
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.imagen-home{
    height: 50px;
}
.boton-inspeccion{
    position: relative;
}
.boton-derecha {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    top: 22%;
    right: 13%;
    position: absolute;
}
.boton-izquierda {
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    top: 19%;
    left: 7%;
}

.boton-izquierda-muscu {
    position: absolute;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    top: 24%;
    left: 2%;
}


/* mediaquire de main */
@media(min-width: 768px){
    .imagen-home {
        height: 79px;
    }
    .boton-inspeccion{
        position: relative;
        height: 15%;
    
    }
    .boton-derecha {
        font-weight: bold;
        font-size: 37px;
        color: #fff;
        top: 21%;
        right: 14%;
        position: absolute;
    }
    .boton-izquierda {
        position: absolute;
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        top: 20%;
        left: 9%;
    }
    
    .boton-izquierda-muscu {
        position: absolute;
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        top: 23%;
        left: 6%;
    }
}
@media(min-width: 1024px){
    .logo{
        margin-left: 15px;
        width: 10%;
    }
    .imagen-home {
        height: 177px;
    }
    .boton-derecha{
        top: 30%;
        right: 15%;
     font-size: 60px;
    }
    .boton-izquierda-muscu{
        left: 8%;
        font-size: 56px;
            top: 33%;
    }
    .boton-izquierda{
        left: 9%;
    font-size: 62px;
    top: 27%;
    }
}
