.slogan-main-detalle {

    width: 100%;
    text-decoration: underline 3px;
    font-size: 19px;
    padding: 2%;
    text-align: center;
    color: var(--color-crema);
}
.footer-home-detalle {
    background-color: #ab222b;
    padding: 2%;
    text-align: center;
}

.body-detail{
    background-image: url('/images/background.jpg.png');
    background-position: center;
    background-size: 90%;
}

.detalleProduct-imagen {
    border-radius: 40px;
    width: 95%;
}

.articulo-producto{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}
.caja-producto {
    padding-bottom: 5%;
    margin: 3%;
    border-radius: 15px;
    background-color: rgb(166 165 165 / 30%);
}
.nombre-producto{
    padding-top: 2%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 4%;
   color: var(--color-crema)
}
.info-producto {
    padding: 2%;
    text-align: center;
    font-size: 11px;
    color: #fff;
}
.horarios-producto {
    margin-left: 3%;
    text-align: left;
    font-size: 9px;
    color: #fff;
}
.precio-producto {
    margin: 3% 2%;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.caja-boton-carrito {
    border-radius: 11px;
    margin-left: 25%;
    width: 50%;
    background-color: var(--color-verde);
}
.boton-carrito{
    font-weight: bold;
    font-size: 12px;
    color: #fff;
}
.caja-boton-carrito:hover{
        transform: scale(1.1);
        transition: 0.2s;
}




/* ---------------MEDIA QUERIES TABLET------------------ */
@media(min-width: 768px){
    .slogan-main-detalle{
        font-size: 36px;
    }
    .slogan-main {
        margin-top: 0%;
        width: 100%;
        text-decoration: underline 3px;
        font-size: 35px;
        padding-top: 30px;
        text-align: center;
        color: var(--color-crema);
    }
    .detalleProduct-imagen{ 
        height: 1%;
        width: 90%;
    }
    .nombre-producto{
        font-size: 2rem;
    }
    .caja-producto {
        background-color: rgb(166 165 165 / 20%);
        margin: 2%;
    }
    .info-producto {
        padding: 2%;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
    }
    .horarios-producto {
        margin-left: 3%;
        text-align: left;
        font-size: 1.4rem;
        color: #fff;
    }
    .precio-producto{
    font-size: 1.2rem;
    }
    .caja-boton-carrito {
        border-radius: 11px;
        width: 35%;
        background-color: var(--color-verde);
        text-align: center;
        padding: 10px;
        margin-left: 0px;
    }
    .seccion-tablet-info {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 2%;
        gap:20px;
    }

    .redes-sociales-detalle {
    gap: 8px;
    display: flex;
    }
    .footer-home-detalle {
    background-color: #ab222b;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
    .secciones-footer-detalle {
    gap: 24px;
    width: 55%;
    gap: 7%;
    color: var(--color-crema);
    
    }
    .lista-footer-detalle{
        gap: 15px;
    display: flex;
   
    }

}


/* ---------------MEDIA QUERIES DESKTOP------------------ */
@media(min-width: 1024px){
    .body-detail {
        padding-bottom: 6%;
        background-position: center;
        background-size: 90%;
    }
    .info-producto {
        padding: 2%;
        text-align: center;
        font-size: 2rem;
        color: #fff;
    }
    .horarios-producto {
        padding-top: 38px;
        margin-left: 3%;
        text-align: left;
        font-size: 1.4rem;
        color: #fff;
    }
    
    .detalleProduct-imagen{
        height: 1%;
        width: 40%;
        margin-left: 3%;
    }
    .nombre-producto{
        font-size: 60px;
        margin-top: 5%;
    }
    .articulo-producto{
        align-items: center;
        display: flex;
    }
    .caja-producto{
        width: 50%;
    }
    .caja-boton-carrito {
        border-radius: 11px;
        width: 35%;
        background-color: var(--color-verde);
        text-align: center;
        padding: 10px;
        margin-left: 0px;
    }
    .seccion-tablet-info {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 8%;
    }
    .precio-producto {
        font-size: 1.5rem;
    }
    .secciones-footer-detalle{
         width: 61%;
    }
    .lista-footer-detalle{
        gap: 20px;
    }
    .fa-instagram {
        font-size: 30px;
    }
    .logo-face-home{
        font-size: 30px;
    }
    .fa-x-twitter{
        font-size: 30px;
    }
    .seguinos-footer{
        font-size: 26px;
    }
}