.body-detail{
    background-image: url('/images/background.jpg.png');
    background-position: center;
    background-size: 90%;
    
}
/*FORMULARIO------------------------------*/
.form-producto{
    width: 90%;
    padding: 4% 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
label {
    font-weight: bold;
    font-size: 19px;
    color: #fff;
}
/* DIV SELECCION DE IMAGEN--------------------------*/
.form-producto-imagen {
    text-align: center;
    border-radius: 40px;
    width: 95%;
    /*border: 1px solid rgb(17, 0, 255);*/
}
.form-imagen{
    border-radius: 40px;
    width: 75%;
    margin: 2% 0;
}
.form-producto-imagen input{
    display: contents;
    margin: 2% 0;
}
/* DIV DESCRIPCION DEL PRODUCTO------------------------*/

.form-descripcion-producto, .horario-producto{
    text-align: center;
    padding-bottom: 5%;
    margin: 3%;
    width: 95%;
    border-radius: 15px;
    background-color: rgb(166 165 165 / 30%);
   box-shadow: 0px 0px 10px rgb(166, 165, 165) ;
}
.form-imagen{
   box-shadow: 0px 0px 30px rgb(166, 165, 165) ;
}
.form-precio-producto{
    box-shadow: 0px 0px 10px rgb(166, 165, 165) ;
}
.form-descripcion-producto textarea{
    margin: 3% 0;
    width: 90%;

}
/* DIV HORARIOS DEL PRODUCTO----------------------------*/
.textarea-horario {
    font-weight: bold;
    font-size: 12px;
    height: 24px;
    margin: 3% 0;
    width: 90%;
}
/* DIV PRECIO PRODUCTO-----------------------------------*/
.form-precio-producto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    width: 95%;
    padding-bottom: 5%;
    margin: 3%;
    background-color: rgb(166 165 165 / 30%);

}
.input-form-precio{
    font-weight: bold;
    margin-top: 2%;
    font-size: 12px;
    text-align: center;
    width: 85%;
}
.input-form-descripcion{
    font-weight: bold;
    font-size: 10px;
    width: 85%;
    height: 19px;
}

.boton-create {
    padding: 6px;
    font-weight: bold;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 13px;
    box-shadow: 0px 0px 20px #ff000094;
}
    .boton-create:hover{
        transform: scale(0.95);
    }
    input:hover{
        transform: scale(0.95);
    }
    
/*|||||||||| MEDIA QUERIE TABLET ||||||||||||||||||||||||||||||||||*/
@media(min-width: 768px){

    .form-imagen{
        width: 80%;
    }
    .label-seleccion-imagen,
    .label-form-descripcion,
    .label-form-horario,
    .label-form-precio
    {
        font-size: 2rem;
        font-weight: bold;
    }
    .form-precio-producto input {
        font-weight: bold;
        font-size: 21px;
        margin: 3% 0;
        width: 90%;
        height: 38px;
    }
    
    .input-form-descripcion{
        font-weight: bold;
        font-size: 15px;
        margin-top: 24px;
        height: 36px;
        width: 85%;
    }
    .textarea-horario {
        font-weight: bold;
        font-size: 17px;
        margin: 3% 0;
        width: 90%;
    }
    .input-form-precio{
        text-align: center;
        font-weight: bold;
        FONT-SIZE: 17px;
        }
        .boton-create {
            padding: 6px;
            font-weight: bold;
            background-color: #ff0000;
            color: #ffffff;
            font-size: 21px;
            box-shadow: 0px 0px 20px #ff000094;
        }
    }


/*|||||||||| MEDIA QUERIE LAPTOP|||||||||||||||||||||||||||||||||*/
@media(min-width: 1024px){
    .form-producto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .form-producto-imagen{
       
        width: 45%;
    }
    .form-descripcion-producto,
    .horario-producto,
    .form-precio-producto
    {
        width: 44%;
    }
    .form-precio-producto input {
        font-weight: bold;
        font-size: 21px;
        margin: 3% 0;
        width: 90%;
        height: 44px;
    }
    
    .input-form-descripcion{
        font-weight: bold;
        font-size: 15px;
        margin-top: 24px;
        height: 44px;
        width: 85%;
    }
    .textarea-horario {
        font-weight: bold;
        font-size: 17px;
        margin: 3% 0;
        width: 90%;
        height: 44px;
    }
    .input-form-precio{
        text-align: center;
        font-weight: bold;
        FONT-SIZE: 17px;
        height: 44px;
    }
    .boton-create{
        font-size: 35px;
        margin-right: 20%;
        margin-top: 5%;
    }
}

    




