<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>

    <title>GODGYM</title>

</head>

<body>
    
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <h1 class="titulo-home">GOD GYM</h1>
        <i class="fa-solid fa-bars"></i>
        <nav>
        <ul class="nav-header-home">
            <i class="fa-solid fa-house"></i>
            <li><a href="">HOME</a></li>
            <i class="fa-solid fa-dumbbell"></i>
            <li><a href="">ACTIVIDADES</a></li>
            <i class="fa-regular fa-address-card"></i>
            <li><a href="">PASE DE PRUEBA</a></li>
        </ul>
    </nav>
    <nav class="nav-registros">
        <div>
            <h4>login</h4>
            <i class="fa-solid fa-user"></i>
        </div>
        
        <div>
            <h4>register</h4>

        </div>
    </nav>

    </header>
    <main>    
        <h3 class="slogan-main">BE SMART - BE STRONG - BE FAST</h3>
        
        <>
            <article class="boton-inspeccion">   
                        <a href="">CROSSFIT</a>   
                        <img src="/img/component1.png" alt="crossfit" width="100%"> 
            </article>
            
            <article class="boton-inspeccion">   
                        <a href="">MUSCULACION</a> 
                        <img src="/img/component2.png" alt="" width="100%">
            </article>
            <article class="boton-inspeccion">   
                        <a href="">ZUMBA</a> 
                        <img src="/img/component3.png" alt="zumba" width="100%">   
            </article>
            <article class="boton-inspeccion">
                        <a href="">FUNCIONAL</a>
                        <img src="/img/component4.png" alt="funcional" width="100%">
            </article>
        </section>

        <footer>
            <div class="redes-sociales">
                <h4>Seguinos</h4>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>

            <nav class="nav-footer-home">
                <ul>
                    <i class="fa-solid fa-house"></i>
                    <li><a href="">HOME</a></li>
                    <i class="fa-solid fa-dumbbell"></i>
                    <li><a href="">ACTIVIDADES</a></li>
                    <i class="fa-regular fa-address-card"></i>
                    <li><a href="">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </footer>
    </main>


    
</body>
</html>