<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>

    <title>GODGYM</title>

</head>

<body class="body-home">
    
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <section class="seccion-header">
            <h1 class="titulo-home">GOD GYM</h1>
            <div class="boton-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-registros">
                <div class="caja-logueado">
                    <a href="/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                        <a href="/login">
                            <h4 class="login">LOGIN</h4>
                        </a>
                    </a>
                </div>
                <div class="caja-logueado-registro">
                    <a href="/register">
                        <h4 class="registrado">REGISTRATE</h4>
                    </a>
                </div>
        
            </nav>
            <nav class="nav-header-home">
                <ul class="secciones">
            
                    <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
            
                    <li> <i class="fa-solid fa-dumbbell"></i><a href="/productDetail" class="secciones-header">ACTIVIDADES</a></li>
            
                    <li> <i class="fa-regular fa-address-card"></i><a href="" class="secciones-header">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </section>
    </header>
    
<main class="home-main">    
        <h3 class="slogan-main">BE SMART - BE STRONG - BE FAST</h3>
        
      
            <article class="boton-inspeccion">   
                        <a href="">  
                        <img src="/img/component1.png" alt="crossfit" width="100%">
                        <p class="boton-derecha">CROSSFIT</p>
                    </a> 
            </article>
            
            <article class="boton-inspeccion">   
                        <a href="">
                        <img src="/img/component2.png" alt="" width="100%"> 
                        <p class="boton-izquierda-muscu">MUSCULACIÓN</p>
                    </a>
            </article>
            <article class="boton-inspeccion">   
                        <a href="">
                        <img src="/img/component3.png" alt="zumba" width="100%"> 
                        <p class="boton-derecha">ZUMBA</p> 
                    </a> 
            </article>
            <article class="boton-inspeccion">
                        <a href="">
                        <img src="/img/component4.png" alt="funcional" width="100%">
                        <p class="boton-izquierda">FUNCIONAL</p>
                        </a>
            </article>
        
    </main>
        <footer>
            <section class="footer-home">

        
                <div class="secciones-footer">
                    <ul>
                        <li><i class="fa-solid fa-house footer"></i><a href="7" class="seccion-home-footer">HOME</a></li>
                        <li><i class="fa-solid fa-dumbbell footer"></i><a href="/productDetail" class="seccion-home-footer">ACTIVIDADES</a></li>
                        <li><i class="fa-regular fa-address-card footer"></i><a href="" class="seccion-home-footer">PASE DE PRUEBA</a></li>
                    </ul>
                </div>

                <div class="redes-sociales">
                    <h4 class="seguinos-footer">SEGUINOS</h4>
                    <div>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </section>
        </footer>



    
</body>
</html>