<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>
    <title>GOD GYM</title>

</head>
<body class="body-login">
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <section class="seccion-header">
            <h1 class="titulo-home">GOD GYM</h1>
            <div class="boton-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-registros">
                <div class="caja-logueado-login">
                    <a href="/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                        <a href="/login">
                            <h4 class="login">LOGIN</h4>
                        </a>
                    </a>
                </div>
                <div class="caja-logueado-registro-login">
                    <a href="/register">
                        <h4 class="registrado">REGISTRATE</h4>
                    </a>
                </div>
        
            </nav>
            <nav class="nav-header-home">
                <ul class="secciones">
            
                    <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
            
                    <li> <i class="fa-solid fa-dumbbell"></i><a href="/productDetail" class="secciones-header">ACTIVIDADES</a></li>
            
                    <li> <i class="fa-regular fa-address-card"></i><a href="" class="secciones-header">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="main-login">
        <h1 class="titulo-formulario-login">Formulario de login</h1>
        <section class="seccion-login">
    <form action="/login" method="post" class="formulario-login">
        
        <i class="fa-solid fa-user login-user"></i>
        <p class="login-debajodel-icono">LOGIN</p>
     <div class="caja-user">
        <i class="fa-solid fa-user icono-user-input"></i>
        <input type="text" name="username" placeholder="E-mail, teléfono o usuario" class="input-user">

     </div>
     <div class="caja-contraseña"> 
        <i class="fa-solid fa-lock icono-candado-input"></i>
        <input type="password" name="password" id="" placeholder="contraseña" class="input-contraseña">
     </div>
     <div>
       <p class="input-recordamelo"> <input type="checkbox" name="" id="">Recordamelo</p>
     </div>
     <div class="caja-boton-logueado">
        <button type="submit" class="boton-login-main">Login</button>
     </div>

    </form>
    <section class="section-debajo-logueado">
    <div class="caja-logueado-cuenta">
        <p class="no-cuenta">¿No tenés cuenta?</p>                   
        <a href="/register" class="registrate-caja">Registrate</a>
    </div>
    <div class="caja-logueado-segunda">
        <p class="logueatecon">o logueate con</p>
       <a href=""> <i class="fa-brands fa-facebook logo-face"></i></a>
       <a href=""> <i class="fa-brands fa-google logo-google"></i></a>
</div>
</section>
</section>
    
</main>
<footer>
    <section class="footer-login">


        <div class="secciones-footer">
            <ul>
                <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                <li><i class="fa-solid fa-dumbbell footer"></i><a href="/productDetail" class="seccion-home-footer">ACTIVIDADES</a></li>
                <li><i class="fa-regular fa-address-card footer"></i><a href="" class="seccion-home-footer">PASE DE PRUEBA</a></li>
            </ul>
        </div>

        <div class="redes-sociales">
            <h4 class="seguinos-footer">SEGUINOS</h4>
            <div>
                <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram "></i></a>
            </div>
        </div>
    </section>
</footer>
</body>
</html>