<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>
        <title>GODGYM</title>
    
    </head>
<body>
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <section class="seccion-header">
            <h1 class="titulo-home">GOD GYM</h1>
            <div class="boton-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-registros">
                <div class="caja-logueado">
                    <a href="/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                        <a href="/login">
                            <h4 class="login">LOGIN</h4>
                        </a>
                    </a>
                </div>
                <div class="caja-logueado-registro">
                    <a href="/register">
                        <h4 class="registrado">REGISTRATE</h4>
                    </a>
                </div>
        
            </nav>
            <nav class="nav-header-home">
                <ul class="secciones">
            
                    <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
            
                    <li> <i class="fa-solid fa-dumbbell"></i><a href="/productDetail" class="secciones-header">ACTIVIDADES</a></li>
            
                    <li> <i class="fa-regular fa-address-card"></i><a href="" class="secciones-header">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </section>
    </header>
    
    <main class="body-home">
        <p class="info-carrito">Todos nuestros Planes 
            incluyen Profesores matriculados,
            nutricionistas, seguro medico y 
            locker propio en los vestuarios</p>

            <section class="actividades">
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check"> PLAN CROSSFIT : $8000 por
                        mes</label>
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN MUSCULACION : $10000
                        por mes </label>
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN ZUMBA : $6000 por
                        mes</label> 
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN FUNCIONAL : $10000 por
                        mes </label> 
                    </article>
            </section>
            <div class="subtotal">SUBTOTAL : $ </div>
            <div class="caja-1">
            <img src="img/Metodos-de-pago1.webp" alt="medios de pagos" class="pagos">
            <button class="boton-finalizar-compra"> FINALIZAR COMPRA </button>
            </div>
            

    </main>

    <footer>
        <section class="footer-home-detalle">

            <div class="secciones-footer-detalle">
                <ul class="lista-footer-detalle">
                    <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                    <li><i class="fa-solid fa-dumbbell footer"></i><a href="/productDetail" class="seccion-home-footer">ACTIVIDADES</a></li>
                    <li><i class="fa-regular fa-address-card footer"></i><a href="" class="seccion-home-footer">PASE DE PRUEBA</a></li>
                </ul>
            </div>

            <div class="redes-sociales-detalle">
                <h4 class="seguinos-footer">SEGUINOS</h4>
                
                    <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                
            </div>
        </section>
    </footer>

</body>
</html>