<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>
    
        <title>GODGYM</title>
    
    </head>
<body>
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <section class="seccion-header">
            <h1 class="titulo-home">GOD GYM</h1>
            <div class="boton-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-registros">
                <div class="caja-logueado">
                    <a href="/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                        <a href="/login">
                            <h4 class="login">LOGIN</h4>
                        </a>
                    </a>
                </div>
                <div class="caja-logueado-registro">
                    <a href="/register">
                        <h4 class="registrado">REGISTRATE</h4>
                    </a>
                </div>
        
            </nav>
            <nav class="nav-header-home">
                <ul class="secciones">
            
                    <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
            
                    <li> <i class="fa-solid fa-dumbbell"></i><a href="/productDetail" class="secciones-header">ACTIVIDADES</a></li>
            
                    <li> <i class="fa-regular fa-address-card"></i><a href="" class="secciones-header">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </section>
    </header>
    
    <main class="body-home">
        
        <h3 class="slogan-main-detalle">BE SMART - BE STRONG - BE FAST</h3>
        <h2 class="nombre-producto">CROSSFIT</h2>
        <article class="articulo-producto">
            <img src="/img/crossfit.jpg.jpg" alt="imagen de crossfit" class="detalleProduct-imagen"> 
            <div class="caja-producto">
            <p class="info-producto">El CrossFit es un programa de entrenamiento físico de alta 
                intensidad que combina elementos de levantamiento de pesas, 
                ejercicio cardiovascular, movimientos con el peso corporal y 
                otras formas de ejercicio para mejorar la aptitud física y
                resistencia en general.</p>
                
                <p class="horarios-producto">Dias y Horarios: <br>
                    Lunes: 10:00 a 11:00 hs - 15:00 a 16:00hs - 22:00 a 23:00 hs <br>
                    Miercoles : 10:00 a 11:00 hs - 15:00 a 16:00hs - 22:00 a 23:00 hs <br>
                    Viernes :  10:00 a 11:00 hs - 15:00 a 16:00hs - 22:00 a 23:00 hs
                </p>
                <div class="seccion-tablet-info">
                <p class="precio-producto">
                    Pase mensual: $8000
                </p>
                <div class="caja-boton-carrito">
                <a href="/productCart" class="boton-carrito">AGREGAR AL CARRITO</a>
            </div>
        </div>
                </div>
        </article>

        <h2 class="nombre-producto">MUSCULACIÓN</h2>

                <article class="articulo-producto">
                <img src="/img/musculacion1.jpeg" alt="Imagen de musculación" class="detalleProduct-imagen">
                <div class="caja-producto">
                <P class="info-producto">Es una alternativa de actividad física basada generalmente en ejercicio físico de media a alta intensidad, con la finalidad encontrar un equilibrio muscular entre los segmentos corporales, generalmente se utilizan estímulos anaeróbicos, principalmente se desarrolla en los gimnasios.
                También se le llama musculación a la actividad encaminada a hipertrofiar el músculo sin llegar a un desarrollo competitivo.
                </P>
                <p class="horarios-producto">Dias y Horarios : <br>
                    Lunes : 11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs <br>
                    Miercoles : 11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs <br>
                    Viernes :  11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs
                </p>
                <div class="seccion-tablet-info">
                <p class="precio-producto">
                    Pase mensual: $10000
                </p>
                <div class="caja-boton-carrito">
                <a href="/productCart" class="boton-carrito">AGREGAR AL CARRITO</a>
            </div>
        </div>
            </div>
        </article>
        <h2 class="nombre-producto">ZUMBA</h2>
        <article class="articulo-producto">
                <img src="/img/zumba.jpg.webp" alt="Imagen de Zumba" class="detalleProduct-imagen">
                <div class="caja-producto">
                    <p class="info-producto">Zumba es un movimiento o disciplina fitness de origen colombiano,enfocado por una parte a mantener un cuerpo saludable y por otra a desarrollar, fortalecer y dar flexibilidad al cuerpo mediante movimientos de baile 
                    combinados con una serie de rutinas aeróbicas.
                    </p>
                    <p class="horarios-producto">Dias y horarios: <br>
                        martes: 14hs a 15hs-16hs a 17hs-19hs a 20hs <br>
                        jueves: 14hs a 15hs-16hs a 17hs-19hs a 20hs <br>
                        viernes: 14hs a 15hs-16hs a 17hs-19hs a 20hs
                    </p>
                    <div class="seccion-tablet-info">
                    <p class="precio-producto">
                        Pase mensual: $6000
                    </p>
                    <div class="caja-boton-carrito">
                    <a href="/productCart" class="boton-carrito">AGREGAR AL CARRITO</a>
                </div>
            </div>
                </div>
        </article>
        <h2 class="nombre-producto">FUNCIONAL</h2>
        <article class="articulo-producto">
            <img src="/img/funcional.jpg.jpg" alt="Imagen de Funcional" class="detalleProduct-imagen">
            <div class="caja-producto">
                <p class="info-producto">El entrenamiento funcional pretende trabajar los músculos mediante la imitación de movimientos cotidianos o gestos deportivos específicos. En base a esto, cada rutina de entrenamiento funcional debe estar individualizada y focalizada para cada persona, su disciplina deportiva y sus características específicas. Esto significa que los ejercicios del entrenamiento funcional se basan antes que nada en la utilidad para cualquier tipo de persona, da igual cual sea su condición física.
                </p>
                <p class="horarios-producto">Dias y Horarios: <br>
                    Lunes: 11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs <br>
                    Miercoles: 11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs <br>
                    Viernes:  11:00 a 12:00 hs - 16:00 a 17:00hs - 23:00 a 00:00 hs
                </p>
                <div class="seccion-tablet-info">
                <p class="precio-producto">
                    Pase mensual: $10000
                </p>
                <div class="caja-boton-carrito">
                <a href="/productCart" class="boton-carrito">AGREGAR AL CARRITO</a>
            </div>
        </div>
            </div>
        </article>


    

    </main>

    <footer>
        <section class="footer-home-detalle">

            <div class="secciones-footer-detalle">
                <ul class="lista-footer-detalle">
                    <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                    <li><i class="fa-solid fa-dumbbell footer"></i><a href="/productDetail" class="seccion-home-footer">ACTIVIDADES</a></li>
                    <li><i class="fa-regular fa-address-card footer"></i><a href="" class="seccion-home-footer">PASE DE PRUEBA</a></li>
                </ul>
            </div>

            <div class="redes-sociales-detalle">
                <h4 class="seguinos-footer">SEGUINOS</h4>
                
                    <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                
            </div>
        </section>
    </footer>

</body>
</html>