<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d332f893b6.js" crossorigin="anonymous"></script>
    <title>GOD GYM</title>

</head>
<body class="body-register">
    <header class="header-home">
        <img class= "logo" src="/img/logo-proyecto.svg" alt="logo">
        <section class="seccion-header">
            <h1 class="titulo-home">GOD GYM</h1>
            <div class="boton-hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-registros">
                <div class="caja-logueado">
                    <a href="/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                        <a href="/login">
                            <h4 class="login">LOGIN</h4>
                        </a>
                    </a>
                </div>
                <div class="caja-logueado-registro">
                    <a href="/register">
                        <h4 class="registrado">REGISTRATE</h4>
                    </a>
                </div>
        
            </nav>
            <nav class="nav-header-home">
                <ul class="secciones">
            
                    <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
            
                    <li> <i class="fa-solid fa-dumbbell"></i><a href="/productDetail" class="secciones-header">ACTIVIDADES</a></li>
            
                    <li> <i class="fa-regular fa-address-card"></i><a href="" class="secciones-header">PASE DE PRUEBA</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="main-register">
        <h2 class="titulo-register">Formulario de registro</h2>
    <form action="/register" method="post" class="formulario-register">

            <label class="label-register" for="nombre">Nombre</label>
            <input class="input-register" type="text" id="nombre" name="nombre">

            <label for="apellido">Apellido</label>
            <input class="input-register" type="text" id="apellido" name="apellido">
    
            <label for="fecha">Fecha de nacimiento</label>
            <input class="input-register" type="date" id="fecha" name="fecha">
           
            <label>Seleccion de actividades</label>
                <select class="select-register" name="seleccion-actividades" id="">
                    <option value="crossfit">Crossfit</option>
                    <option value="musculacion">Musculacion</option>
                    <option value="zumba">Zumba</option>
                    <option value="funcional">Funcional</option>
                 </select>

            <label for="comentario">Comentanos tu objetivo</label>
            <textarea class="textarea-register" name="comentario" id="comentario" cols="30" rows="5"></textarea>
            
            <div class="botones-registro">
                <button class="boton-registro" type="submit">Enviar</button>
                <button class="boton-reset" type="reset">Reset</button> 
            </div> 
              
        

           

       
         
    </form>
</main>
<footer>
    <section class="footer-login">


        <div class="secciones-footer">
            <ul>
                <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                <li><i class="fa-solid fa-dumbbell footer"></i><a href="/productDetail" class="seccion-home-footer">ACTIVIDADES</a></li>
                <li><i class="fa-regular fa-address-card footer"></i><a href="" class="seccion-home-footer">PASE DE PRUEBA</a></li>
            </ul>
        </div>

        <div class="redes-sociales">
            <h4 class="seguinos-footer">SEGUINOS</h4>
            <div>
                <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </section>
</footer>
</body>
</html>