.header-home{
    background-color: var(--color-azul);
    color: var(--color-crema);
    display: flex;
    flex-wrap: wrap;
    
}
.seccion-header {
    height: 2%;
    width: 79%;
    display: flex;
    flex-wrap: wrap;
}
.nav-header-home{
    display: none;
}
.nav-registros{
    display: none;
}
.logo{
    width: 25%;
    height: 25%;
}
.titulo-home{
    font-size: 25px;
    width: 75%;
    text-align: center;
    height: max-content;
    margin-top: 2%;
}
.fa-bars{
    margin: 10px 0;
    width: 30px;
    background-color: var(--color-rojo);
    color: black;
    padding: 7px;
    text-align: center;
    height: 30px;
    border-radius: 15%
}

.boton-hamburguesa{
    margin-left: 55%;
    margin-top: -12%;
}
