<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main class="body-home">
        <p class="info-carrito">Todos nuestros Planes 
            incluyen Profesores matriculados,
            nutricionistas, seguro medico y 
            locker propio en los vestuarios</p>

            <section class="actividades">
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check"> PLAN CROSSFIT : $8000 por
                        mes</label>
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN MUSCULACION : $10000
                        por mes </label>
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN ZUMBA : $6000 por
                        mes</label> 
                    </article>
                <article><label for="actividad"> <input type="checkbox" name="actividad" id="actividad" class="check">PLAN FUNCIONAL : $10000 por
                        mes </label> 
                    </article>
            </section>
            <div class="subtotal">SUBTOTAL : $ </div>
            <div class="caja-1">
            <img src="/images/Metodos-de-pago1.webp" alt="medios de pagos" class="pagos">
            <button class="boton-finalizar-compra"> FINALIZAR COMPRA </button>
            </div>
            

    </main>




    <%- include("../partials/footerdetail.ejs") %>
</body>