<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="body-detail">
        <h3 class="slogan-main-detalle">CREAR PRODUCTO</h3>
        <form action="/products/create" method="post" class="form-producto">

        <div class="form-producto-imagen">
            <label class="label-seleccion-imagen" for="imagen">SELECCIÓN DE IMÁGEN
            <input class="" type="file" id="imagen" name="imagen" accept="image/*"<% products.imagen ? products.imagen : "default.webp" %>>
            <img src="/images/default.webp"  class="form-imagen">
        </label> 
        </div>

        <div class="form-precio-producto">
            <label class="label-form-precio" for="nombre">NOMBRE DEL PRODUCTO</label>
             <input class="input-form-precio" type="text" id="nombre" name="nombre">
        </div> 

         <div class="form-descripcion-producto">
            <label class="label-form-descripcion" for="descripcion">DESCRIPCIÓN DEL PRODUCTO</label>
            <input class="input-form-descripcion" name="descripcion" id="descripcion" cols="" rows=""></input>
         </div>

         <div class="horario-producto">
            <label class="label-form-horario" for="descripcion">HORARIOS DEL PRODUCTO</label>
            <select class="textarea-horario" name="descripcion" id="descripcion" cols="" rows="">
                <option value=""> 10:00hs a 12:00hs</option>
                <option value=""> 14:00hs a 16:00hs</option>
                <option value=""> 16:00hs a 17:00hs</option>
                <option value=""> 11:00hs a 13:00hs</option>
                <option value=""> 13:00hs a 14:30hs</option>
                <option value=""> 16:00hs a 17:30hs</option>
                <option value=""> 20:00hs a 21:00hs</option>
                <option value=""> 21:00hs a 21:30hs</option>
                <option value=""> 15:00hs a 16:00hs</option>
                <option value=""> 16:30hs a 17:30hs</option>

            </select>
         </div>

         <div class="form-precio-producto">
           <label class="label-form-precio" for="precio">PRECIO DEL PRODUCTO</label>
            <input class="input-form-precio" type="number" id="precio" name="precio">
         </div>

        <button type="submit" class="boton-create">GUARDAR</button>
           
             
   </form>

        

    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>
</html>