<%- include("../partials/head.ejs") %>
<body class="body-register">
    <%- include("../partials/header.ejs") %> 
    <main class="main-register">
        
             <form action="/users/register" method="post" class="formulario-register">
                 <h2 class="titulo-form-register">Formulario de registro</h2>
                <h2 class="pase-prueba">Obtene, gratis por un dia, tu pase de prueba !!!</h2>       
                <label class="label-register" for="nombre">NOMBRE</label>
                <input class="input-register" type="text" id="nombre" name="nombre">
    
                <label class="label-register" for="apellido">APELLIDO</label>
                <input class="input-register" type="text" id="apellido" name="apellido">
        
                <label class="label-register" for="fecha">FECHA DE NACIMIENTO</label>
                <input class="input-register" type="date" id="fecha" name="fecha">
               
                <label class="label-register" id="email">EMAIL</label>
                 <input type="email" name="email" id="email" class="input-register">
    
                <label class="label-register" for="contraseña">CONTRASEÑA</label>
                <input type="password" name="contraseña" class="input-register">
                    
                <% if(locals.usuario && usuario.rol == "admin"){%>
                <label for="rol" class="label-register">ROL</label>
                <select name="rol" id="" class="input-register">
                    <option  id="" value="usuario">usuario</option>
                    <option  id="" value="admin">admin</option>
                    </select>
                    
                <% } %>
               

                
                <div class="botones-registro">
                    <button class="boton-register" type="submit">Enviar</button>
                    <button class="boton-register" type="reset">Reset</button> 
                </div> 
                  
        </form>
    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>