<%- include("../partials/head.ejs") %>
<body class="body-register">
    <%- include("../partials/headerRegister.ejs") %> 
    <main class="main-register">
        
        
            
    
               
    
           
             <form action="/register" method="post" class="formulario-register">
                 <h2 class="titulo-form-register">Formulario de registro</h2>
                <h2 class="pase-prueba">Obtene, gratis por un dia, tu pase de prueba !!!</h2>       
                <label class="label-register" for="nombre">Nombre</label>
                <input class="input-register" type="text" id="nombre" name="nombre">
    
                <label class="label-register" for="apellido">Apellido</label>
                <input class="input-register" type="text" id="apellido" name="apellido">
        
                <label class="label-register" for="fecha">Fecha de nacimiento</label>
                <input class="input-register" type="date" id="fecha" name="fecha">
               
                <label class="label-register" id="seleccion-actividades">Seleccion de actividades</label>
                    <select class="select-register" name="seleccion-actividades" id="seleccion-actividades">
                        <option value="crossfit">Crossfit</option>
                        <option value="musculacion">Musculacion</option>
                        <option value="zumba">Zumba</option>
                        <option value="funcional">Funcional</option>
                     </select>
    
                <label class="label-register" for="comentario">Comentanos tu objetivo</label>
                <textarea class="textarea-register" name="comentario" id="comentario" cols="30" rows="5"></textarea>
                
                <div class="botones-registro">
                    <button class="boton-register" type="submit">Enviar</button>
                    <button class="boton-register" type="reset">Reset</button> 
                </div> 
                  
        </form>
    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>