<footer>
    <section class="footer-login">


        <div class="secciones-footer">
            <ul>
                <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                <li><i class="fa-solid fa-dumbbell footer"></i><a href="/products/actividades" class="seccion-home-footer">ACTIVIDADES</a></li>
                <li><i class="fa-regular fa-address-card footer"></i><a href="/users/register" class="seccion-home-footer">PASE DE PRUEBA</a></li>
            </ul>
        </div>

        <div class="redes-sociales">
            <h4 class="seguinos-footer">SEGUINOS</h4>
            <div>
                <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram "></i></a>
            </div>
        </div>
    </section>
</footer>