<footer>
    <section class="footer-home">


        <div class="secciones-footer">
            <ul>
                <li><i class="fa-solid fa-house footer"></i><a href="/" class="seccion-home-footer">HOME</a></li>
                <li><i class="fa-solid fa-dumbbell footer"></i><a href="/products" class="seccion-home-footer">ACTIVIDADES</a></li>
                <li><i class="fa-regular fa-address-card footer"></i><a href="/users/register" class="seccion-home-footer">PASE DE PRUEBA</a></li>
            </ul>
        </div>

        <div class="redes-sociales">
            <h4 class="seguinos-footer">SEGUINOS</h4>
            <div>
                <a href="#"><i class="fa-brands fa-facebook logo-face-home"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-93ada548-bbee-4f0c-abbb-c6e463c5d613" data-elfsight-app-lazy></div>
</footer>