<header class="header-home-register">
    <img class= "logo-register" src="/images/logo-proyecto.svg" alt="logo">
    <section class="seccion-header-register">
        <h1 class="titulo-home-register">GOD GYM</h1>
        <div class="boton-hamburguesa-register">
            <i class="fa-solid fa-bars"></i>
        </div>
            <div class="linea-roja">
            </div>
        <h2 class="titulo-register">Formulario de registro</h2>
        <nav class="nav-registros-register">
            <div class="caja-logueado-register">
                <a href="/login" class="boton-login-register"><i class="fa-solid fa-user icono-login-header-register"></i>
                    <a href="/login">
                        <h4 class="login-register">LOGIN</h4>
                    </a>
                </a>
            </div>
            <div class="caja-logueado-registro">
                <a href="/register">
                    <h4 class="registrado-register">REGISTRATE</h4>
                </a>
            </div>
    
        </nav>
        <nav class="nav-header-register">
            <ul class="secciones">
        
                <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
        
                <li> <i class="fa-solid fa-dumbbell"></i><a href="/products" class="secciones-header">ACTIVIDADES</a></li>
        
                <li> <i class="fa-regular fa-address-card"></i><a href="/users/register" class="secciones-header">PASE DE PRUEBA</a></li>
            </ul>
        </nav>
    </section>
</header>