<header class="header-home">
    <img class= "logo" src="/images/logo-proyecto.svg" alt="logo">
    <section class="seccion-header">
        <h1 class="titulo-home">GOD GYM</h1>
        <div class="boton-hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-registros">
            <div class="caja-logueado">
                <% if(locals.usuario){%>
                    <div class="caja-session">
                        <div>
              
                    <i class="fa-solid fa-user icono-session"
                    style="color: #ffffff;"></i>
                </div>
                <p class="nombre-session-usuario"><%= usuario.nombre.toUpperCase() %> <% if(locals.usuario && locals.usuario.rol == "admin"){ %>
                    ADMIN
                    <% } %></p>
            
                </div>
                    <% } else { %>
                        <a href="/users/login" class="boton-login"><i class="fa-solid fa-user icono-login-header"></i>
                            <a href="/users/login">
                                <h4 class="login">LOGIN</h4>
                            </a>
                        </a>
                    </div>
                    <div class="caja-logueado-registro">
                        <a href="/users/register">
                            <h4 class="registrado">REGISTRATE</h4>
                        </a>
                    </div>
                    <%  } %>

                
    
        </nav>
        <nav class="nav-header-home">
            <ul class="secciones">
        
                <li> <i class="fa-solid fa-house"></i><a href="/" class="secciones-header">HOME</a></li>
        
                <li> <i class="fa-solid fa-dumbbell"></i><a href="/products" class="secciones-header">ACTIVIDADES</a></li>
        
                <li> <i class="fa-regular fa-address-card"></i><a href="/users/register" class="secciones-header">PASE DE PRUEBA</a></li>
                <% if( locals.usuario){%>
                    <div>
                    <li><a href="/users/perfil/<%= usuario.id %>" class="secciones-header">PERFIL</a></li>
                    </div>
                    <%} %>
                    
                    
            </ul>
        </nav>
    </section>
</header>